body {
  height: 55vh;
  margin: 0;
  padding: 0;
  background-image: url('/public/background.jpg');
  background-size: 100% 138%; 
  background-repeat: no-repeat;  
  background-color: black;
}
a {
  text-decoration: none;
  color: rgb(91, 146, 217);
}

#start-button {
  width: fit-content;
  margin: auto;
}

#footer, #instructions {
  color: white;
  background-color: rgba(0, 0, 0, .5);
  margin: auto;
  border-radius: 5px;
  padding: 1%;
}

#footer {
  width: fit-content;
}

#instructions {
  width: 40%;
}
.App {
  text-align: center;
  font-family: 'Patrick Hand', cursive;
}
#title-row {
  border-radius: 5px;
  width: 30%;
  margin: auto;
  font-family: 'Amatic SC', cursive;
  color: rgb(78, 78, 78);
  background-image: url("https://media.istockphoto.com/id/470229867/vector/cardboard-box-background-with-icons.jpg?s=612x612&w=0&k=20&c=O7-hLQCWcFTwUX6uV_tqeNn9EWc2W15KS1yA2JrEc2c=");
}

#timing-row {
  margin: auto;
  width: 18rem;
}

#diff-row {
  margin: auto;
  width: fit-content;
}
#timing-row, #diff-row, #game {
  width: fit-content;
  padding: 5px;
  justify-content: center;
  border-radius: 5px;
  background-image: url("https://media.istockphoto.com/id/470229867/vector/cardboard-box-background-with-icons.jpg?s=612x612&w=0&k=20&c=O7-hLQCWcFTwUX6uV_tqeNn9EWc2W15KS1yA2JrEc2c=");
}
#diff-row > .btn{
  width: fit-content;
}
#timing-row > .btn {
  width: fit-content;
}

#home {
  border: 1px solid rgba(0, 0, 0, .3);
  border-radius: 8px;
  box-shadow: 5px 5px 10px black;
  margin-top: 20vh;
  padding: 3%;
  max-width: 70%;
  background-color: rgba(82, 82, 82, 0.2);
  background-image: linear-gradient(to bottom, rgba(82,82,82,.0.2), rgba(82,82,82,0.2)), url("/public/crumbled-paper-background.png");
  color: white;
  
}

#game {
  height: 10rem;
  width: 30rem;
  margin: auto;
}
#game > div {
  height: 3em;
}
